In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [3]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')

In [4]:
df.isnull().mean()*100

age         0.0
sex         0.0
bmi         0.0
children    0.0
smoker      0.0
region      0.0
expenses    0.0
dtype: float64

In [5]:
x = df.drop(columns='expenses')
y = df['expenses']

In [6]:
x

      age     sex   bmi  children smoker     region
0      19  female  27.9         0    yes  southwest
1      18    male  33.8         1     no  southeast
2      28    male  33.0         3     no  southeast
3      33    male  22.7         0     no  northwest
4      32    male  28.9         0     no  northwest
...   ...     ...   ...       ...    ...        ...
1333   50    male  31.0         3     no  northwest
1334   18  female  31.9         0     no  northeast
1335   18  female  36.9         0     no  southeast
1336   21  female  25.8         0     no  southwest
1337   61  female  29.1         0    yes  northwest

[1338 rows x 6 columns]

In [7]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1338, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.33)

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [11]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',OneHotEncoder(sparse=False,drop='first'),['sex','smoker','region'])
],remainder='passthrough')

In [12]:
transformer.fit_transform(x_train)

C:\Users\ngc\anaconda3\envs\insurance\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[ 1. ,  1. ,  0. , ..., 22. , 52.6,  1. ],
       [ 1. ,  0. ,  0. , ..., 45. , 24.3,  5. ],
       [ 0. ,  1. ,  0. , ..., 43. , 32.6,  3. ],
       ...,
       [ 1. ,  0. ,  0. , ..., 55. , 32.7,  1. ],
       [ 1. ,  0. ,  0. , ..., 32. , 30.8,  3. ],
       [ 0. ,  0. ,  1. , ..., 64. , 30.1,  3. ]])

In [14]:
transformer.transform(x_test)

array([[ 0. ,  0. ,  0. , ..., 22. , 28.1,  0. ],
       [ 0. ,  1. ,  0. , ..., 40. , 28.1,  1. ],
       [ 1. ,  0. ,  0. , ..., 19. , 28.7,  0. ],
       ...,
       [ 1. ,  0. ,  0. , ..., 26. , 46.5,  1. ],
       [ 1. ,  0. ,  0. , ..., 54. , 29.2,  1. ],
       [ 0. ,  0. ,  0. , ..., 32. , 44.2,  0. ]])

In [15]:
ft=transformer.fit(x_train)

C:\Users\ngc\anaconda3\envs\insurance\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

ColumnTransformer(remainder='passthrough',
                  transformers=[('tnf1',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['sex', 'smoker', 'region'])])

In [17]:
import pickle
pickle.dump(ft,open("ft1.pickle","wb"))