In [19]:
import pickle

In [20]:
transformer = pickle.load(open('ft1.pickle','rb'))

In [21]:
k = ['age', 'sex', 'bmi', 'children', 'smoker', 'region']

v =[23,'male',23.4,2,'no','southwest']

In [22]:
  dic = dict(list(zip(k,v)))

In [23]:
dic

{'age': 23,
 'sex': 'male',
 'bmi': 23.4,
 'children': 2,
 'smoker': 'no',
 'region': 'southwest'}

In [26]:
import pandas as pd

In [27]:
df = pd.DataFrame(dic,index=[0])
df

   age   sex   bmi  children smoker     region
0   23  male  23.4         2     no  southwest

In [28]:
transformer.transform(df)

array([[ 1. ,  0. ,  0. ,  0. ,  1. , 23. , 23.4,  2. ]])

In [18]:
int(76.6)

76